.tabby-bar {
    border-radius: 12px 12px 0 0;
    padding: 4px 5px 3px 5px;
    spacing: 3px;
}

.tabby-tab-btn {
    border-radius: 8px;
    padding: 3px 14px;
}

.tabby-tab-content {
    spacing: 7px;
}

.tabby-tab-label {
    font-size: 11.5px;
    font-weight: 400;
}

.tabby-close-btn {
    padding: 0 2px 0 4px;
    border-radius: 4px;
}
